doctype html
html
  head
    include font_import.pug
    style
      include styles.css
  body

    div.top-section
      div.logo
      div.user-info.align-right
        if user
          form(action='/logout' method='post' enctype='multipart/form-data')
              |👤 Signed in as #{user.first_name} 
              a(onclick="this.closest('form').submit(); return false;") (click to sign out 👋)
        else
          a(href='/login') 🔑 Sign in 
          |or 
          a(href='/users/add') 📜 sign up!
          br
        |💳 Proceed to checkout (0 items, 0.00 €)
    
    block child