doctype html
html
  head
    include font_import.pug
    style
      include styles.css
  body

    div.top-section
      div.logo
      div.user-info.align-right
        if user
          |Logged in as #{user.first_name} (#{user.role})
          br
          form(action='http://localhost:3000/logout' method='post' enctype='multipart/form-data')
            a(onclick="this.closest('form').submit(); return false;") 👋 Sign out
        else
          a(href='http://localhost:3000/login') 🔑 Sign in 
          |or 
          a(href='http://localhost:3000/users/add') 📜 sign up!
          br
        |🛒 Cart: 0 pcs, 0.00 €
    
    block child