doctype html
html
  head
    style
      include styles.css
  body

    div.top-section
      div.logo
      div.user-info
        |Username:
        input
        |Password:
        input
        br
        |Cart: 0 pcs, 0.00 €
    
    block child