div.page-selector
    div
        if page_number > 0
            a(onclick=`apply_filter(${Number(page_number) - 1}); return false;`) ← Previous page
            br
            a(onclick=`apply_filter(0); return false;`) Go to the first page
    div.align-center
        |Current page is #{page_number} of X.
        br
        |Showing products X-X of #{product_count}.
    div.align-right
        a(onclick=`apply_filter(${Number(page_number) + 1}); return false;`) Next page →
        br
        a Go to the last page (to be implemented)