* {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
}


.top-section {
    display: grid;
    grid-template-columns: 550px 550px;
    grid-template-rows: 80px;
    justify-content: center;
}

.logo {
    background-color: rgb(211, 211, 211);
}

.user-info {
    color: white;
    background-color: rgb(211, 211, 211);
}

.order-section {
    display: grid;
    grid-template-columns: 700px;
    justify-content: center;
}

.order-row {
    display: grid;
    grid-template-columns: 20% 80%;
}

.order-row-text {
    background-color: rgb(233, 233, 233);
}

.product-page-grid {
    display: grid;
    grid-template-columns: 500px 600px;
    justify-content: center;
}

.product-card {
    background-color: #eeeeee;
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    border-radius: 5px;
}

.product-section {
    display: grid;
    grid-template-columns: 200px 900px;
    justify-content: center;
}

.sidebar {
    background-color: #f9f9f9;
}

.product-list {
    background-color: #f9f9f9;
}

.page-selector {
    display: grid;
    grid-template-columns: 30% 40% 30%;
    background-color: #dbdbdb;
}

.align-right {
    text-align: right;
}

.align-center {
    text-align: center;
}

.shadow {
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.8);
}

.rounded-button {
    padding-left: 10px;
    padding-right: 10px;
    border-style: solid;
    border-width: 0px;
    border-radius: 20px;
    background-color: rgb(0, 255, 128);
    transition: all 0.2s ease-out;
    color: black;
}

.rounded-button:hover {
    color: white;
    background-color: black;
    transition: all 0.2s ease-out;
}

th {
    text-align: left;
}

table,
tr {
    border-style: solid hidden solid hidden;
    border-width: 5px;
    border-color: #dbdbdb;
}

table {
    width: 100%;
    border-collapse: collapse;
}

a {
    color: rgb(143, 93, 0);
    text-decoration: none;
    cursor: pointer;
    transition: all 0.2s ease-out;
}

a:hover {
    color: rgb(255, 166, 0);
    transition: all 0.2s ease-out;
}

textarea {
    resize: none;
}

input,
textarea,
button,
search {
    border-radius: 4px;
    background-color: #eeeeee;
    font-size: 14px;
    border-color: white;
}

input:invalid {
    border-color: red;
    background-color: red;
}