* {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
}

.top-section {
    display: grid;
    grid-template-columns: 550px 550px;
    grid-template-rows: 80px;
    justify-content: center;
    background-color: #82ffb6;
}

.product-section {
    display: grid;
    grid-template-columns: 200px 900px;
    justify-content: center;
}

.sidebar {
    background-color: #f9f9f9;
}

.product-list {
    background-color: #f9f9f9;
}

.post-page {
    display: grid;
    grid-template-columns: 550px 550px;
    column-gap: 5px;
    row-gap: 10px;
    justify-content: center;
}

.page-selector {
    display: grid;
    grid-template-columns: 30% 40% 30%;
}

.align-right {
    text-align: right;
}

.align-center {
    text-align: center;
}

a {
    color: blue;
    text-decoration: none;
}

a:hover {
    color: magenta;
}

tr:hover {
    background-color: #ebebeb;
}

textarea {
    resize: none;
}

input, textarea, button, search {
    border-radius: 0px;
    border-style: solid;
    border-color:#888888;
    border-width: 1px;
    border-collapse: collapse;
    font-size: 14px;
}

input:invalid {
    border-color: red;
    background-color: red;
}